/* Font-face definitions */
@font-face {
    font-family: 'Oswald';
    src: url("./fonts/Oswald-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url("./fonts/Oswald-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(to bottom left, rgb(12, 24, 39), rgb(24, 48, 78));
}

h1,
h2 {
    margin: 0;
    text-transform: uppercase;
}

.header {
    background-color: inherit;
    color: inherit;
    margin-bottom: 707px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.header__top-company-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;

}

.page-navigation {
    display: flex;
    align-items: center;
}

.visually-hidden {
    content-visibility: hidden;
}

.page-navigation__toggle {
    padding: inherit;
    margin-top: 20px;
    margin-right: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.page-navigation__toggle:hover {
    background-color: #f0f0f0;
}

/* Полоски внутри кнопки */
.page-navigation__toggle::before,
.page-navigation__toggle::after,
.page-navigation__toggle span {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.5s ease;
}

/* Расположение полосок */
.page-navigation__toggle::before {
    top: 12px;
}

.page-navigation__toggle::after {
    top: 24px;
}

.page-navigation__toggle span {
    top: 18px;
}

.page-navigation__list {
    display: none;
    list-style: none;
}

.page-navigation__link {
    text-decoration: none;
    color: inherit;
}

.section-header {
    margin-left: 20px;
    margin-right: 20px;
}

.section-header__description {
    margin-bottom: 30px;
    margin-top: inherit;
}



.button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: inherit;
    background-color: inherit;
    font-weight: inherit;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 220px;
    height: 72px;
    background-color: #0c1827;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #112b45;
}

.button-icon {
    width: 36px;
    /* Размер круга */
    height: 36px;
    background-color: #ffcc00;
    /* Желтый цвет */
    border-radius: 50%;
    /* Делает круг */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon::before {
    content: '';
    border-left: 15px solid rgb(12, 24, 39);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 25%;
    position: relative;
    left: 1px;
}

.button-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
}


.section__title {
    font-weight: 500;
    font-size: 30px;
}


.section-header__title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: inherit;
    font-weight: bold;
}

.blockquote__author {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 38px;
}

.services__list-title {
    font-weight: 500;
    font-size: 24px;
}

.canvas-static-stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.header__canvas-shooting-stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.about__text {
    font-size: 20px;
    margin: auto;
    width: 280px;
}


.about {

    text-align: center;
    margin-bottom: 60px;
}


.text-align-center {
    text-align: center;
}

.services__item {
    padding: initial;
    width: 353px;
    height: 347px;
    background: rgba(12, 24, 39, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    overflow: hidden;
    text-align: left;
    margin: auto;
}

.services__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: initial;
    margin-top: 0px;
    margin-bottom: 60px;
}

.services__list-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
    position: relative;
}

.services__list-description {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 69px;
    font-size: 16px;
    z-index: 2;
    position: relative;
    line-height: 1.5;
}

.review {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.blockquote__text {
    margin-top: 0px;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
}


.form__control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

/* Сделал минимальную ширину,
чтобы корректно отображалось на экране айфон се - отступы
 - была задана фикс ширина 350px */
.form__textarea {
    height: 250px;
    min-width: 250px;
    background-color: rgba(12, 24, 39, 1);
    border-radius: 5%;
    padding: 20px 20px 20px 20px;
    resize: none;
    margin-bottom: 34px;
}

.form__note {
    font-size: 18px;
    display: flex;
    text-align: center;
    width: 353px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    margin-top: inherit;

}

.position-center {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.contact {
    margin-bottom: 60px;
}